<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="hbm2ddl.auto">update</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="hibernate.default_schema">zSalahuddin</property>
		<property name="hibernate.connection.username">zSalahuddin</property>
		<property name="hibernate.connection.password">zSalahuddin</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@cisc181.canrkwijj6g6.us-east-1.rds.amazonaws.com:1521:ORCL</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<mapping resource="poker/Pokerresults.hbm.xml" />
	</session-factory>
</hibernate-configuration>
